<a href="https://colab.research.google.com/github/roger437linux/misc/blob/main/an%C3%A1lise_descritiva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i0.wp.com/www.datageeks.com.br/wp-content/uploads/2019/06/Machine-Learning-Classico.png?resize=760%2C535&ssl=1)

![](https://miro.medium.com/max/837/1*tI-TWV--K05xbXUgA4Qm1w.png)

<h2><font color="blue"><b>Medidas de Tendência Central: Média, Moda e Mediana em Python</b></h2>

### População
Em Estatística, chamamos de **População** ao conjunto de todos os elementos que nos interessam em uma análise. Porém, é muito comum que as populações sejam conjuntos de dados muito grandes, tornado-se difícil trabalhar com a coleta e análise desses dados.

Por conta disso, é muito comum trabalhar com um subconjunto representativo de uma população, que chamamos de **Amostra**, a qual preserva as características estatísticas da população de modo a poder representá-la, com uma quantidade menor de dados.

In [1]:
import pandas as pd
import numpy as np
import statistics as st

In [2]:
lista = [2,5,7,4,1,9,5,9,2,6,7,9,4,3,5,7]
listaFrutas = ['banana','laranja','maçã','abacate','laranja','melão']
listaItens = ["SP", "RJ","MG","SP","TO","RS","SC","SP","SC"]

In [3]:
# Obtendo a média aritmética

media = st.mean(lista)
print(f"Média aritmética: {media}")

Média aritmética: 5.3125

In [4]:
# Obtendo a mediana

mediana = st.median(lista)
print(f"Mediana: {mediana}")

Mediana: 5.0

In [5]:
# Obtendo a moda

moda = st.mode(listaItens)
print(f"Moda da lista de estados: {moda}")

Moda da lista de estados: SP

![](https://programacaopratica.com.br/wp-content/uploads/2020/12/2531236_cf49_22.jpg)

In [6]:
volei = {'nome' : ['Maria', 'Ana', 'Carla', 'Joana'],
        'altura': [1.89, 1.85, 1.91, 1.77],
        'pontos': [12, 5, 17, 22]}

In [7]:
df = pd.DataFrame(volei)

In [8]:
df.head()

    nome  altura  pontos
0  Maria    1.89      12
1    Ana    1.85       5
2  Carla    1.91      17
3  Joana    1.77      22

In [9]:
# Sumarização

round(df.describe(), 2)

       altura  pontos
count    4.00    4.00
mean     1.86   14.00
std      0.06    7.26
min      1.77    5.00
25%      1.83   10.25
50%      1.87   14.50
75%      1.90   18.25
max      1.91   22.00

In [10]:
# Médias

print(f"Média da altura: {df['altura'].mean()}")
print(f"Média dos pontos: {df['pontos'].mean()}")

Média da altura: 1.855
Média dos pontos: 14.0

In [11]:
df['altura'].sum() / df['altura'].count()

1.855

In [12]:
# Medianas

print(f"Mediana da altura: {df['altura'].median()}")
print(f"Mediana dos pontos: {df['pontos'].median()}")

Mediana da altura: 1.87
Mediana dos pontos: 14.5

In [13]:
# Moda da altura

df['altura'].mode()

0    1.77
1    1.85
2    1.89
3    1.91
dtype: float64

In [14]:
# Moda dos pontos
df['pontos'].mode()

0     5
1    12
2    17
3    22
dtype: int64

In [15]:
# Soma das alturas

df['altura'].sum()

7.42

In [16]:
# Soma dos pontos

df['pontos'].sum()

56

![](https://s1.static.brasilescola.uol.com.br/be/conteudo/images/5244cd19c3e41e1dd49b08eb29cf8080.jpg)

<h2><font color="red"><b>Medidas de Dispersão: Variância e Desvio padrão em Python</b></h2>

In [17]:
# Sumarização

df.describe()

         altura    pontos
count  4.000000   4.00000
mean   1.855000  14.00000
std    0.061914   7.25718
min    1.770000   5.00000
25%    1.830000  10.25000
50%    1.870000  14.50000
75%    1.895000  18.25000
max    1.910000  22.00000

In [18]:
# Variância

print(f"Varância da altura: {df['altura'].var()}")
print(f"Variância dos pontos: {df['pontos'].var()}")

Varância da altura: 0.003833333333333326
Variância dos pontos: 52.666666666666664

In [19]:
# Desvio padrão

print(f"Desvio padrão da altura: {df['altura'].std()}")
print(f"Desvio padrão dos pontos: {df['pontos'].std()}")

Desvio padrão da altura: 0.06191391873668897
Desvio padrão dos pontos: 7.2571803523590805

In [20]:
# Tornando mais poderosa a sumarização

!pip install skimpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting skimpy
  Downloading skimpy-0.0.5-py3-none-any.whl (15 kB)
Requirement already satisfied: pandas<2.0.0,>=1.3.2 in /usr/local/lib/python3.7/dist-packages (from skimpy) (1.3.5)
Requirement already satisfied: click==7.1.2 in /usr/local/lib/python3.7/dist-packages (from skimpy) (7.1.2)
Collecting rich<11.0.0,>=10.9.0
  Downloading rich-10.16.2-py3-none-any.whl (214 kB)
     |████████████████████████████████| 214 kB 10.2 MB/s
Collecting typeguard<3.0.0,>=2.12.1
  Downloading typeguard-2.13.3-py3-none-any.whl (17 kB)
Collecting Pygments<3.0.0,>=2.10.0
  Downloading Pygments-2.12.0-py3-none-any.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 53.6 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.3.2->skimpy) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.3.2->skimpy) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.3.2->skimpy) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.3.2->skimpy) (1.15.0)
Collecting colorama<0.5.0,>=0.4.0
  Downloading colorama-0.4.5-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: typing-extensions<5.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from rich<11.0.0,>=10.9.0->skimpy) (4.1.1)
Collecting commonmark<0.10.0,>=0.9.0
  Downloading commonmark-0.9.1-py2.py3-none-any.whl (51 kB)
     |████████████████████████████████| 51 kB 7.2 MB/s
Installing collected packages: Pygments, commonmark, colorama, typeguard, rich, skimpy
  Attempting uninstall: Pygments
    Found existing installation: Pygments 2.6.1
    Uninstalling Pygments-2.6.1:
      Successfully uninstalled Pygments-2.6.1
  Attempting uninstall: typeguard
    Found existing installation: typeguard 2.7.1
    Uninstalling typeguard-2.7.1:
      Successfully uninstalled typeguard-2.7.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed Pygments-2.12.0 colorama-0.4.5 commonmark-0.9.1 rich-10.16.2 skimpy-0.0.5 typeguard-2.13.3

In [21]:
# Tornando mais poderosa a sumarização

# !pip install skimpy

from skimpy import skim

skim(df)

╭───────────────────────────────────── skimpy summary ──────────────────────────────────────╮
│          Data Summary                Data Types                                           │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                    │
│ ┃ dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                    │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                    │
│ │ Number of rows    │ 4      │ │ object      │ 1     │                                    │
│ │ Number of columns │ 3      │ │ float64     │ 1     │                                    │
│ └───────────────────┴────────┘ │ int64       │ 1     │                                    │
│                                └─────────────┴───────┘                                    │
│                                          number                                           │
│ ┏━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━━━━━━━┳━━━━━━┳━━━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━━┳━━━━━━━━┓  │
│ ┃         ┃ missing  ┃ complete rate  ┃ mean ┃ sd    ┃ p0  ┃ p25 ┃ p75 ┃ p100 ┃ hist   ┃  │
│ ┡━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━━━━━━━╇━━━━━━╇━━━━━━━╇━━━━━╇━━━━━╇━━━━━╇━━━━━━╇━━━━━━━━┩  │
│ │ altura  │        0 │              1 │  1.9 │ 0.062 │ 1.8 │ 1.8 │ 1.9 │  1.9 │ ▄  ▄ █ │  │
│ │ pontos  │        0 │              1 │   14 │   7.3 │   5 │  10 │  18 │   22 │ █ █ ██ │  │
│ └─────────┴──────────┴────────────────┴──────┴───────┴─────┴─────┴─────┴──────┴────────┘  │
╰─────────────────────────────────────────── End ───────────────────────────────────────────╯

In [22]:
# Correlação

df.corr()

          altura    pontos
altura  1.000000 -0.400605
pontos -0.400605  1.000000

In [23]:
df

    nome  altura  pontos
0  Maria    1.89      12
1    Ana    1.85       5
2  Carla    1.91      17
3  Joana    1.77      22

In [24]:
df.dtypes

nome       object
altura    float64
pontos      int64
dtype: object